.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #fff;
  color: #fff;
}

.linkNotActive,
.linkActive {
  font-size: 1.5rem;
  color: #2196f3;
  text-decoration: none;
  margin: 0 2rem;
}

.linkActive {
  font-weight: normal;
  color: #2196f3;
  transition: color 0.5s ease-in-out;
}

.main {
  padding: 3rem;
  font-size: 1.5rem;
  background-color: #f5f5f5;
}

.hr {
  border: 2px solid #9e9e9e;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: #757575;
}

.footerLeft,
.footerRight {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
